quartz/node_modules/
quartz/.quartz-cache/
quartz/public/
vault/.obsidian/workspace.json
vault/.obsidian/workspace-mobile.json
vault/.obsidian/plugins/*/main.js
vault/.obsidian/plugins/*/styles.css
vault/*.base
quartz/content/
.claude/*
!.claude/skills/
.vscode/
WideoRPG.pdf
